# Servidor
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=locafacil_jwt_secret_2025_troque_em_producao
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:3001

# Banco Neon
DATABASE_URL="postgresql://neondb_owner:npg_cnljR9khrWs5@ep-fancy-mountain-b6lyansl-pooler.c-2.sa-east-1.aws.neon.tech/locafacil?sslmode=require&channel_binding=require"