# Servidor
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=locafacil_jwt_secret_2025_troque_em_producao
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:3001

# Banco Neon
DATABASE_URL="postgresql://neondb_owner:npg_A0eMXvD7UYmc@ep-cold-band-b4xp0kod-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"